@import './mixin'

.chart
  //width: 380px
  //height: 285px

.input-tiny
  width: 40px

.chart-form
  monospace()

.chart-form select 
  monospace()

.chart-form input
  monospace()

.chart-actions
  float: right
  text-align: right
  display: inline
  //margin-top: 20px

.navbar small
  font-size: 18px
  margin-left: 8px
  margin-right: 8px

.date-picker
  margin: 0 9px 0 0

.btn-xlarge
  font-size: 24px
  font-weight: bold
  padding: 13px 24px

.sprint-action
  padding-top: 200px
  text-align: center
  border-radius('18')

.team-select-header
  padding-top: 50px

.team-select-form
  padding-top: 50px

.team-select
  monospace()
