.hidden.container
  .row
    .span8.offset2.sprint-action
      form.form-inline.well
        fieldset
          legend Create a new sprint 
            
          .control-group
            h2 
              small Start on  
                span#start-date 
                  | today
                input#start-date-input.date-picker(type="hidden")

          .control-group 
            h2 
              small Hours to burn 
              input#sprint-point-input.input-tiny
            
      a.btn.btn-xlarge.btn-success.create-sprint-btn(href="#/on/team/#{config.teamEncoded}") Submit 
      | &nbsp;
      a.btn.btn-xlarge.btn-info.cancel-sprint-btn(href="#/on/team/#{config.teamEncoded}") Cancel

